* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

:root {
    --primary-color: #217342;
    --second-color: #f53e15;
    --white-color: #fff;
    --text-color: #3b3b3b;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
.text__link {
    text-decoration: none;
    display: block;
}
.text__l {
    font-size: 3.8rem;
}
.text__m {
    font-size: 3.2rem;
}
.text__s {
    font-size: 2.6rem;
}
.text__desc {
    font-size: 1.6rem;
}
.text__btn {
    font-size: 1.8rem;
}
.btn {
    border: none;
    outline: none;
}
.btn__link {
    padding: 16px 0;
    min-width: 120px;
}
.btn__radius {
    border-radius: 10px;
}

.btn__main--A {
    background-color: var(--white-color);
}
.text__btn--A {
    color: var(--white-color);
}
.btn__main--B {
    background-color: var(--primary-color);
}
.text__btn--B {
    color: var(--primary-color);
}
.btn__main--C {
    background-color: var(--second-color);
}
.text__btn--C {
    color: var(--second-color);
}
.btn__main--transparent {
    background-color: transparent;
}


.list__item {
    list-style: none;
}

@keyframes transitionHover {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
        background-color: var(--primary-color);
    }
}
@keyframes transitionBlur {
    0% {
        transform: scale(0.8);     
    }
    100% {
        transform: scale(1);
        background-color: var(--second-color);
    }
}

.btn__active:hover {
    animation: scale ease 0.2s forwards;
}
.btn__active:hover a {
    color: var(--white-color);
}
.btn__main--transparent:hover{
    animation: scaleTransparent ease 0.2s forwards;
}
@keyframes scale {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
        background-color: var(--second-color);
    }
}
@keyframes scaleTransparent {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
/* left to right */
.left-to-right {
    transform: translateX(-200%);
    opacity: 0;
}
.left-to-right.active {
    transform: translateX(0);
    opacity: 1;
}
.left-to-right--slow {
    transition: all linear 0.8s;
    
}
.left-to-right--fast {
    transition: all linear 0.4s;
    
}
/* right to left */
.right-to-left {
    transform: translateX(200%);
    opacity: 0;
}
.right-to-left.active {
    transform: translateX(0);
    opacity: 1;
}
.right-to-left--slow {
    transition: all linear 0.8s;
}
.right-to-left--fast {
    transition: all linear 0.4s;
}
/* bot to top */
.bottom-to-top {
    transform: translateY(80%);
    opacity: 0;
}
.bottom-to-top.active {
    transform: translateY(0);
    opacity: 1;
}
.bottom-to-top--slow {
    transition: all linear 0.6s;
}
.bottom-to-top--fast {
    transition: all linear 0.4s;
}

@media screen and (max-width: 1023px) {
    .text__s  {
        font-size: 1.8rem;
    }
    .text__l {
        font-size: 3rem;
    }
}